/* Estilos generales para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Estilos para el encabezado */
header {
    background-color: #4527a0; /* Morado oscuro */
    color: #fff;
    padding: 15px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

/* Estilos para el menú de navegación */
nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #d1c4e9; /* Un tono más claro de morado */
}

/* Estilos para el contenido principal */
main {
    padding: 20px 0;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Estilos para los productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 23%; /* Ajuste para que quepan 3 productos por fila */
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.producto img {
    width: 100%;
    height: auto;
    max-height: 300px; /* Ajuste la altura máxima para hacer las imágenes más largas */
    object-fit: contain; /* Mantiene la proporción sin recortar */
    border-radius: 5px;
}

.producto h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.producto p {
    margin: 5px 0;
}

.producto .precio {
    font-size: 1.2em;
    color: #4527a0; /* Morado oscuro */
    font-weight: bold;
}

.producto:hover {
    transform: translateY(-5px); /* Efecto de elevación al hacer hover */
}

/* Estilos para el pie de página */
footer {
    background-color: #4527a0; /* Morado oscuro */
    color: #fff;
    text-align: center;
    padding: 0.1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos adicionales para mejorar la experiencia móvil */
@media (max-width: 768px) {
    .producto {
        width: 45%; /* Ajuste para que quepan 2 productos por fila en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .producto {
        width: 100%; /* Ajuste para que quepa 1 producto por fila en pantallas muy pequeñas */
    }
}
